<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>

        <a class="px-4 py-2 bg-blue-600 rounded-md font-semibold text-xs hover:bg-blue-700 transition" href="/">Home</a>
        <a href="/makeform" class="px-4 py-2 bg-blue-600 rounded-md font-semibold text-xs hover:bg-blue-700 transition">
            Create Post
        </a>
    </div>
    <h1></h1>
</body>
</html>